body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;
    background-color: darkseagreen;
}

#share-instr {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.share-icon {
    margin: 0 10px; 
    height: 30px;
    width: 30px;
}

.arrow-icon {
    align-self: start;
}


#copy-icon:hover {
    cursor: pointer;
}

@keyframes flickerAnimation {
    0%   { filter: none; }
    25%  { filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); }
    100% { filter: none; }
}

h1 {
    font-size: 2.5rem;
    margin: 1rem;
}

.icons {
    display: flex;
    flex-direction: row;    
}

.icons a {
    margin: 0 10px;
}

.icons img, svg {
    height: 35px;
    width: 35px;
}

#content {
    display: block;
}

.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto 20px auto;
    font-size: 1.25em;
}

.instructions p {
    font-size: 1.5em;
    margin-right: 8px;
}

.instructions div {
    width: 33%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

.select-pic {
    display: flex;
    justify-content: center;
}

.select-pic label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.frame-maker {
    display: flex;
    margin: 10px 0;
}

#profile-pic {
    display:block;
    max-width: 100%;
}

#framed {
    margin: 0 auto;
    width: 45%;
    height: 100%;
    display: block;
    border-style: solid;
    border-width: thin;
}

#crop-container {
    max-width: 45%;
    margin: auto;
    display: none;
}

form {
    display: none;
    align-items: center;
    margin: auto;
}

form input {
    width: 500px;
    margin-right: 12px;
}